/* Background Tablet */
@media (min-width: 577px) and (max-width: 991px) {
    header {
      background-image: url('../img/hero-bg-tablette.jpg');
      height: 50vh;
      background-size: cover;
    }
    .footer-links {
      display: none;
    }
    .col-md-6 {
      width: 100%;
    }
  }